/* * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #ffffff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 50px;
}

.subscribe-area {
    background-color: white;
    padding: 5px 10px;
    box-shadow: 0 10px 12px rgba(77, 60, 160, 0.1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn-subscribe {
    background: #009688;
    border-radius: .2rem;
    border: 0;
    color: white;
    padding: 12px 25px;
}

.section-subscribe {
    background: #4b5698;
}

.section-subscribe .title {
    color: white;
}

.sbs-description {
    color: #e6e6e6;
}

.title {
    font-size: 40px;
    margin: 0;
    color: #3a4867de;
    font-weight: bold;
}


/* 2 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.home,
.Userprofile,
.ClientFeed,
.Proposal,
.ContactorProfile,
.consulting {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.home {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.services {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.products {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
}

.contact-us {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.sign-up {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.marketing {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.consulting {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}